@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: #000;
}
header {
  width: 95%;
  height: 53px;
  padding: 16px 32px;
  background-color: #a0d1bc66;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ffe088;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend {
  width: 51%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend a {
  font-size: 48px;
  font-weight: 700;
  color: #ffe088;
  text-transform: uppercase;
  text-decoration: none;
}
.sslki {
  width: 80%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  padding: 8px;
  border-radius: 5px;
  color: #e2e2e2b3;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: none;
}
.sslki a:hover {
  background-color: #ffffff0d;
  color: #e2e2e2;
}
.sslki a:nth-child(5) {
  color: #ffe088;
  border-bottom: 1px solid #ffe088;
}
.icons {
  width: 16%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons svg {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  color: #bcedd7;
}
.icons svg:hover {
  background-color: #ffffff0d;
}
.icons span {
  font-size: 12px;
  color: #e2e2e2b3;
  font-weight: 700;
}
.icons span:hover {
  color: #e2e2e2;
}
.icons button {
  width: 92px;
  height: 28px;
  padding: 7px 24px;
  border-radius: 20px;
  background-color: #ffe088;
  color: #241a00;
  font-size: 12px;
  font-weight: 700;
  border: none;
}
main section:nth-child(1) {
  width: 95%;
  height: 874px;
  padding: 70px 32px;
}
h1 {
  font-size: 48px;
  color: #a0d1bc;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}
section:nth-child(1) p {
  width: 672px;
  font-size: 18px;
  color: #c0c8c3;
  font-weight: 500;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
}
.image {
  width: 100%;
  height: 674px;
  border-top: 1px solid #ffe088;
  border-left: 1px solid #ffe088;
  border-radius: 20px;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
}
.image img:hover {
  transform: scale(1.09);
  transition: all 1s ease 10ms;
}
main section:nth-child(2) {
  width: 95%;
  height: 567px;
  padding: 64px 32px;
}
.one {
  width: 100%;
  height: 414px;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(2, 195px);
  justify-content: space-between;
  align-content: space-between;
}
.mission {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 117px 48px;
  border-radius: 20px;
  background-color: #0b3d2e66;
  border-top: 1px solid #ffe088;
  border-left: 1px solid #ffe088;
}
.mission span {
  font-size: 12px;
  color: #ffe088;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
.mission h2 {
  font-size: 32px;
  color: #e2e2e2;
  margin-bottom: 24px;
  font-weight: 700;
}
.mission p {
  font-size: 16px;
  color: #c0c8c3;
}
.safety {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 32px;
  border-radius: 20px;
  background-color: #0b3d2e66;
  border-top: 1px solid #ffe088;
  border-left: 1px solid #ffe088;
}
.safety svg {
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}
.safety h3 {
  font-size: 24px;
  color: #e2e2e2;
  margin-bottom: 8px;
  font-weight: 700;
}
.safety p {
  font-size: 16px;
  color: #c0c8c3;
}
.technologi {
  grid-row-start: 2;
  grid-row-end: 3;
}
.two {
  width: 100%;
  height: 129px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.element {
  width: 44%;
  height: 65px;
  padding: 32px;
  border-radius: 20px;
  background-color: #0b3d2e66;
  border-top: 1px solid #ffe088;
  border-left: 1px solid #ffe088;
  display: flex;
  align-items: center;
}
.element svg {
  width: 30px;
  height: 36px;
  padding: 12px 17px;
  background-color: #0b3d2e;
  border-radius: 10px;
  color: #a0d1bc;
  margin-right: 30px;
}
.text {
  width: 377px;
  height: 56px;
}
.text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #e2e2e2;
}
.text p {
  font-size: 16px;
  color: #c0c8c3;
}
