@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: #000;
}
header {
  width: 95%;
  height: 53px;
  padding: 16px 32px;
  background-color: #a0d1bc66;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ffe088;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend {
  width: 51%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend a {
  font-size: 48px;
  font-weight: 700;
  color: #ffe088;
  text-transform: uppercase;
  text-decoration: none;
}
.sslki {
  width: 80%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  padding: 8px;
  border-radius: 5px;
  color: #e2e2e2b3;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: none;
}
.sslki a:hover {
  background-color: #ffffff0d;
  color: #e2e2e2;
}
.sslki a:nth-child(1) {
  color: #ffe088;
  border-bottom: 1px solid #ffe088;
}
.icons {
  width: 16%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons svg {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  color: #bcedd7;
}
.icons svg:hover {
  background-color: #ffffff0d;
}
.icons span {
  font-size: 12px;
  color: #e2e2e2b3;
  font-weight: 700;
}
.icons span:hover {
  color: #e2e2e2;
}
.icons button {
  width: 92px;
  height: 28px;
  padding: 7px 24px;
  border-radius: 20px;
  background-color: #ffe088;
  color: #241a00;
  font-size: 12px;
  font-weight: 700;
  border: none;
}
main {
  padding: 128px 32px 64px;
}
main section:nth-child(1) {
  width: 100%;
  height: 155px;
  margin-bottom: 64px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffe088;
  margin-bottom: 16px;
}
section:nth-child(1) p {
  width: 576px;
  font-size: 18px;
  color: #c0c8c3;
  line-height: 150%;
}
main section:nth-child(2) {
  width: 100%;
  height: 1195px;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: repeat(2, 585px);
  justify-content: space-between;
  align-content: space-between;
}
.debit {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 32px;
  border-radius: 20px;
  background-color: #0b3d2e66;
  border: 1px solid #ffe088;
}
.text {
  width: 100%;
  height: 64px;
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}
.debit .text .card {
  width: 434px;
  height: 65px;
}
.debit .text .card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #a0d1bc;
  margin-bottom: 8px;
}
.card p {
  font-size: 15px;
  color: #c0c8c3;
}
.text svg {
  width: 36px;
  height: 40px;
  color: #ffe088;
}
.debit img {
  width: 100%;
  height: 330px;
}
.debit a {
  display: block;
  width: 100%;
  height: 14px;
  padding: 16px 0px;
  border-radius: 20px;
  background-color: #ffe088;
  font-size: 12px;
  color: #241a00;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  margin-top: 25px;
}
.credit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 32px;
  border-radius: 20px;
  background-color: #0b3d2e66;
  border: 1px solid #ffe088;
}
.text {
  width: 100%;
  height: 64px;
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}
.credit .text .card {
  width: 434px;
  height: 65px;
}
.credit .text .card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #a0d1bc;
  margin-bottom: 8px;
}
.card p {
  font-size: 15px;
  color: #c0c8c3;
}
.text svg {
  width: 36px;
  height: 40px;
  color: #ffe088;
}
.credit img {
  width: 100%;
  height: 330px;
}
.credit a {
  display: block;
  width: 100%;
  height: 14px;
  padding: 16px 0px;
  border-radius: 20px;
  background-color: #ffe088;
  font-size: 12px;
  color: #241a00;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  margin-top: 25px;
}
.kid,
.virtual {
  grid-row-start: 2;
  grid-row-end: 2;
}
main section:nth-child(3) {
  width: 100%;
  height: 138px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}
.info {
  width: 27%;
  height: 90px;
  padding: 24px;
  background-color: #1b1b1b80;
  border-left: 1px solid #ffe088;
}
.info h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #a0d1bc;
}
.info p {
  font-size: 16px;
  color: #c0c8c3;
}
