@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: #000;
}
header {
  width: 95%;
  height: 53px;
  padding: 16px 32px;
  background-color: #a0d1bc66;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ffe088;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend {
  width: 51%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend a {
  font-size: 48px;
  font-weight: 700;
  color: #ffe088;
  text-transform: uppercase;
  text-decoration: none;
}
.sslki {
  width: 76%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  padding: 8px;
  border-radius: 5px;
  color: #e2e2e2b3;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: none;
}
.sslki a:hover {
  background-color: #ffffff0d;
  color: #e2e2e2;
}
.sslki a:nth-child(4) {
  color: #ffe088;
  border-bottom: 1px solid #ffe088;
}
.icons {
  width: 16%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons svg {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  color: #bcedd7;
}
.icons svg:hover {
  background-color: #ffffff0d;
}
.icons span {
  font-size: 12px;
  color: #e2e2e2b3;
  font-weight: 700;
}
.icons span:hover {
  color: #e2e2e2;
}
.icons button {
  width: 92px;
  height: 28px;
  padding: 7px 24px;
  border-radius: 20px;
  background-color: #ffe088;
  color: #241a00;
  font-size: 12px;
  font-weight: 700;
  border: none;
}
main section:nth-child(1) {
  width: 100%;
  height: 592px;
  position: relative;
  overflow: hidden;
  background-image: url("./images/bank.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.money {
  width: 64%;
  height: 230px;
  padding: 0px 32px;
  position: absolute;
  z-index: 1;
  left: 15%;
  top: 195px;
}
h1 {
  font-size: 48px;
  color: #ffe088;
  margin-bottom: 24px;
  font-weight: 700;
  text-align: center;
}
.money p {
  font-size: 22px;
  color: #e2e2e2e6;
  margin-bottom: 40px;
  font-weight: 700;
}
.open {
  width: 185px;
  padding: 16px 40px;
  background-color: #ffe088;
  border-radius: 10px;
  border: none;
  color: #241a00;
  font-size: 12px;
  font-weight: 700;
  margin-left: 210px;
  letter-spacing: 1px;
}
.open:hover {
  box-shadow:
    5px 5px 15px #f2d37d,
    -5px -5px 15px #f2d37d;
}
.uznat {
  width: 197px;
  padding: 16px 40px;
  background-color: #0b3d2eb3;
  border-radius: 10px;
  border: 1px solid #ffe088;
  color: #e2e2e2;
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  letter-spacing: 1px;
}
.uznat:hover {
  background-color: #191616ba;
}
main section:nth-child(2) {
  width: 94.5%;
  height: 244px;
  padding: 64px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.o_nas {
  width: 47%;
  height: 244px;
}
.o_nas span {
  font-size: 12px;
  color: #ffe088;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
.o_nas h2 {
  font-size: 32px;
  color: #e2e2e2;
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 1px;
}
.o_nas p {
  font-size: 18px;
  color: #c0c8c3;
  letter-spacing: 1px;
}
.obsluzhivanie {
  width: 47%;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info:nth-child(1) {
  width: 40%;
  height: 66px;
  padding: 24px;
  border-radius: 15px;
  background-color: #0b3d2eb3;
  border: 1px solid #ffe088;
}
.info p:nth-child(1) {
  height: 52px;
  font-size: 48px;
  font-weight: 700;
  color: #ffe088;
  text-align: center;
}
.info p:nth-child(2) {
  font-size: 12px;
  color: #e2e2e2;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.info:nth-child(2) {
  width: 40%;
  height: 66px;
  padding: 24px;
  border-radius: 15px;
  background-color: #0b3d2eb3;
  border: 1px solid #093628b3;
}
.info:nth-child(2) p:nth-child(1) {
  color: #a0d1bc;
}
main section:nth-child(3) {
  width: 94.5%;
  height: 821px;
  padding: 64px 32px;
}
section:nth-child(3) h2 {
  font-size: 32px;
  color: #e2e2e2;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.grid {
  width: 100%;
  height: 734px;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  grid-template-rows: 420px 291px;
  justify-content: space-between;
  align-content: space-between;
}
.card {
  grid-column-start: 1;
  grid-column-end: 9;
  background-color: #0b3d2eb3;
  border-radius: 20px;
  border: 1px solid #093628b3;
  padding: 40px;
}
.card:hover {
  box-shadow:
    10px 10px 10px #2d2d2d78,
    -10px -10px 10px #2d2d2d78;
}
.premial {
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.premia {
  width: 45%;
  height: 82px;
}
.premia h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ffe088;
  margin: 0;
}
.premia p {
  font-size: 16px;
  color: #c0c8c3;
  line-height: 150%;
}
.premial svg {
  width: 36px;
  height: 40px;
  color: #ffe088;
}
.card .img {
  width: 100%;
  height: 192px;
  border-radius: 20px;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 192px;
}
.card img:hover {
  transform: scale(1.09);
  transition: all 1s ease 10ms;
}
.credit {
  grid-column-start: 9;
  grid-column-end: 14;
  background-color: #0b3d2eb3;
  border-radius: 20px;
  border: 1px solid #ffe088;
  padding: 40px;
}
.credit svg {
  width: 36px;
  height: 40px;
  margin-bottom: 24px;
}
.kredit {
  width: 302px;
  height: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.two {
  color: #e2e2e2;
  margin-bottom: 8px;
  font-size: 24px;
}
.kredit p {
  font-size: 16px;
  color: #c0c8c3;
  line-height: 150%;
}
.credit button {
  border: none;
  font-size: 12px;
  color: #ffe088;
  font-weight: 700;
  margin-top: 60px;
  letter-spacing: 2px;
  background-color: inherit;
}
.ipoteka {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 40px;
  background-color: #0b3d2eb3;
  border-radius: 20px;
  border: 1px solid #093628b3;
}
.ipoteka svg {
  width: 36px;
  height: 40px;
  color: #a0d1bc;
  margin-bottom: 24px;
}
.three {
  margin: 0;
}
.ipoteka button {
  border: none;
  font-size: 12px;
  color: #a0d1bc;
  font-weight: 700;
  margin-top: 32px;
  letter-spacing: 2px;
  background-color: inherit;
}
.busines {
  grid-column-start: 5;
  grid-column-end: 14;
  padding: 40px;
  background-color: #0b3d2eb3;
  border-radius: 20px;
  border: 1px solid #093628b3;
  overflow: hidden;
  position: relative;
}
.busines img {
  width: 395px;
  height: 291px;
  position: absolute;
  z-index: 1;
  left: 422px;
  top: -1px;
}
.busines .for {
  width: 711px;
  height: 183px;
  position: absolute;
  z-index: 2;
}
.for h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ffe088;
  margin-bottom: 8px;
}
.for p {
  width: 360px;
  font-size: 16px;
  color: #c0c8c3;
  line-height: 150%;
}
.for button {
  width: 176px;
  height: 36px;
  border: none;
  padding: 12px 32px;
  border-radius: 10px;
  background-color: #ffe088;
  font-size: 12px;
  color: #241a00;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 32px;
}
main section:nth-child(4) {
  width: 65%;
  height: 362px;
  padding: 64px 32px;
  margin: auto;
}
section:nth-child(4) h2 {
  font-size: 32px;
  color: #e2e2e2;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}
.value {
  width: 784px;
  height: 44px;
  padding: 24px;
  background-color: #0b3d2eb3;
  border-radius: 10px;
  border: 1px solid #093628b3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.value:hover {
  background-color: #ffffff0d;
}
.value span {
  font-size: 18px;
  font-weight: 700;
  color: #e2e2e2;
}
.value p {
  font-size: 24px;
  font-weight: 700;
  color: #ffe088;
}
