@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: #000;
}
header {
  width: 95%;
  height: 53px;
  padding: 16px 32px;
  background-color: #a0d1bc66;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ffe088;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend {
  width: 51%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brend a {
  font-size: 48px;
  font-weight: 700;
  color: #ffe088;
  text-transform: uppercase;
  text-decoration: none;
}
.sslki {
  width: 76%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  padding: 8px;
  border-radius: 5px;
  color: #e2e2e2b3;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}
.sslki a:hover {
  background-color: #ffffff0d;
  color: #e2e2e2;
}
.sslki a:nth-child(4) {
  color: #ffe088;
  border-bottom: 1px solid #ffe088;
}
.icons {
  width: 16%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons svg {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 50%;
  color: #bcedd7;
}
.icons svg:hover {
  background-color: #ffffff0d;
}
.icons span {
  font-size: 12px;
  color: #e2e2e2b3;
  font-weight: 700;
}
.icons span:hover {
  color: #e2e2e2;
}
.icons button {
  width: 92px;
  height: 28px;
  padding: 7px 24px;
  border-radius: 20px;
  background-color: #ffe088;
  color: #241a00;
  font-size: 12px;
  font-weight: 700;
  border: none;
}
main section:nth-child(1) {
  width: 100%;
  height: 592px;
  position: relative;
  overflow: hidden;
  background-image: url("./images/bank.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.money {
  width: 64%;
  height: 230px;
  padding: 0px 32px;
  position: absolute;
  z-index: 1;
  left: 15%;
  top: 195px;
}
h1 {
  font-size: 48px;
  color: #ffe088;
  margin-bottom: 24px;
  font-weight: 700;
  text-align: center;
}
.money p {
  font-size: 22px;
  color: #e2e2e2e6;
  margin-bottom: 40px;
  font-weight: 700;
}
.open {
  width: 185px;
  padding: 16px 40px;
  background-color: #ffe088;
  border-radius: 10px;
  border: none;
  color: #241a00;
  font-size: 12px;
  font-weight: 700;
  margin-left: 210px;
  letter-spacing: 1px;
}
.open:hover {
  box-shadow:
    5px 5px 15px #f2d37d,
    -5px -5px 15px #f2d37d;
}
.uznat {
  width: 197px;
  padding: 16px 40px;
  background-color: #0b3d2eb3;
  border-radius: 10px;
  border: 1px solid #ffe088;
  color: #e2e2e2;
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  letter-spacing: 1px;
}
.uznat:hover {
  background-color: #191616ba;
}
main section:nth-child(2) {
  width: 94.5%;
  height: 244px;
  padding: 64px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.o_nas {
  width: 47%;
  height: 244px;
}
.o_nas span {
  font-size: 12px;
  color: #ffe088;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
.o_nas h2 {
  font-size: 32px;
  color: #e2e2e2;
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: 1px;
}
.o_nas p {
  font-size: 18px;
  color: #c0c8c3;
  letter-spacing: 1px;
}
.obsluzhivanie {
  width: 47%;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info:nth-child(1) {
  width: 40%;
  height: 66px;
  padding: 24px;
  border-radius: 15px;
  background-color: #0b3d2eb3;
  border: 1px solid #ffe088;
}
.info p:nth-child(1) {
  height: 52px;
  font-size: 48px;
  font-weight: 700;
  color: #ffe088;
  text-align: center;
}
.info p:nth-child(2) {
  font-size: 12px;
  color: #e2e2e2;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.info:nth-child(2) {
  width: 40%;
  height: 66px;
  padding: 24px;
  border-radius: 15px;
  background-color: #0b3d2eb3;
  border: 1px solid #093628b3;
}
.info:nth-child(2) p:nth-child(1) {
  color: #a0d1bc;
}
